.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

#my-skills-title,
#about-me-title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #4d65d3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0;
}

#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}

#skills {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.hover-effect:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#my-project-title,
#contact-me-title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #0563df;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0;
}

.contact-link a:active {
  transform: scale(0.95);
  background-color: #004085;
}

.contact-link a:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.7); /* Menambahkan efek fokus */
}

svg {
  display: block;
  width: 100%;
  height: auto;
}
